name: package

on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

jobs:
  build:
    name: Build on ${{matrix.architecture}} Linux platform
    strategy:
      matrix:
        architecture: [x86_64, aarch64, ppc64le, s390x, i386]
        include:
          - architecture: x86_64
            runner: ubuntu-latest
            binfmt_arch: x86_64
            container: quay.io/pypa/manylinux_2_28_x86_64
            native: true
          - architecture: aarch64
            runner: ubuntu-24.04-arm
            binfmt_arch: aarch64
            container: quay.io/pypa/manylinux_2_28_aarch64
            native: true
          - architecture: ppc64le
            runner: ubuntu-latest
            binfmt_arch: ppc64le
            container: quay.io/pypa/manylinux_2_28_ppc64le
            native: false
          - architecture: s390x
            runner: ubuntu-latest
            binfmt_arch: s390x
            container: quay.io/pypa/manylinux_2_28_s390x
            native: false
          - architecture: i386
            runner: ubuntu-latest
            binfmt_arch: 386
            container: quay.io/pypa/manylinux_2_28_i686
            native: false

    runs-on: ${{matrix.runner}}
    
    steps:
      - uses: actions/checkout@v5
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        if: ${{ ! matrix.native }}
        with:
          platforms: ${{matrix.binfmt_arch}}

      - name: Install podman
        run: sudo apt update && sudo apt install podman

      - name: Clone manylinux_packages repo
        run: >
          git clone https://github.com/actapia/manylinux_packages
          "$HOME"/manylinux_packages

      - name: Start container
        run: >
          echo container_id="$(
          sudo podman run -di
          -v "$(realpath .):/root"
          ${{matrix.container}}
          )" >> "$GITHUB_ENV"
      
      - name: Mount container
        run: >
          echo mount="$(sudo podman mount ${{env.container_id}})"
          >> "$GITHUB_ENV"
      
      - name: Copy repo file to container
        run: >
          sudo cp "$HOME"/manylinux_packages/manylinux_packages.repo
          ${{env.mount}}/etc/yum.repos.d/

      - name: Install RPM dependencies in container
        run: >
          sudo podman exec ${{env.container_id}}
          dnf -y install
          ncbi-cxx-toolkit boost-python-manylinux
          ncbi-cxx-toolkit-devel boost-python-manylinux-devel

      - name: Build the package for all Python versions
        run: >          
          sudo podman exec -w /root ${{env.container_id}}
          bash manylinux_build.sh

      - name: Change wheelhouse ownership
        run: >
          chown -R "$USER" wheelhouse

      - name: Upload RPMs
        id: artifact-upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{matrix.architecture}}
          path: wheelhouse/*.whl
          if-no-files-found: error
          retention-days: 1
          overwrite: true

    
